# Ignore node_modules and lock file
node_modules/
package-lock.json

# Ignore all JS files **except dist/**
*.js
!dist/**/*.js

# Ignore TypeScript source files (optional)
index.ts

# Optional: Ignore build artifacts
*.tgz
